table.help, tr.help, th.help {
    margin: auto;
    padding: 0.5%;
    border-style: double;
    border: 10px double white;
    margin-top: 2.5%;
    border-collapse: collapse;
    color: white;
}

tr.help, th.help {
    padding: 10pt;
    text-align: center;
    background-color: pink;
}

body {
    background-image: url('images/bg2.png');
}

.uwu {
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    border-radius: 2pt;
}

.textbig {
    font-family: "IBM Plex Mono";
    text-align: center;
    font-size: 56pt;
    margin-bottom: 0%;
    color: white;
}

.text {
    font-family: IBM Plex Mono;
    text-align: center;
    font-size: 12pt;
    color: white;
}

body {
    margin: 0;
  }
  
main {
    min-height: calc(100vh - 7rem);
  }
  
footer {
    height: 2rem;
}

.foot {
    margin: auto;
    color: white;
    font-family: IBM Plex Mono;
    padding: 2vm;
}

.aaa {
    padding-right: 20px;
}