table, th, tr, td {
    margin: auto;
    padding: 0.5%;
    border-style: double;
    border: 10px double white;
    margin-top: 2.5%;
    border-collapse: collapse;
    color: white;
}

th, tr, td {
    padding: 10pt;
    text-align: center;
    background-color: pink;
}

body {
    background-image: url('images/bg2.png');
}

.uwu {
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    border-radius: 2pt;
}

.textbig {
    font-family: "IBM Plex Mono";
    text-align: center;
    font-size: 56pt;
    margin-bottom: 0%;
    color: white;
}

.text {
    font-family: IBM Plex Mono;
    text-align: center;
    font-size: 12pt;
    color: white;
}

